html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    color: white;
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 0);
}