.footer {
    background: url("../../assets/images/png/noise_transparent@2x.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 6.5rem;
    padding-top: 4rem;
    @include media-tablet {
        padding: 3rem 3.5rem 0 3.5rem;
        justify-content: space-around;
        .footer-content-item {
            margin-top: 0;
        }
      }
    @include media-mobile {
        row-gap: 4rem;
        padding: 3rem 0 0 0;        
    }
}

.footer-puppy {
    width: 81.6%;
}

.footer-puppy__img {
    display: block;
    width: 100%;
}