.footer-content-item {
  margin-top: 16px;
  max-width: 302px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media-mobile{
    height: 207px;
    align-items: center;
    &:nth-child(2) {
      height: 22.2rem;
      .contact-item {
        width: 100%;
      }
    }
  }
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: $color-primary;
  &:hover .contact-item__text{
    color: $color-light-xl;
  }
  &:hover .contact-item__icon{
    filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(7498%) hue-rotate(201deg) brightness(108%) contrast(100%);
  }
}

.contact-item__icon {
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50%;
  &_email {
    background-image: url("../../assets/icons/icon-email.svg");
    width: 40px;
  }
  &_phone {
    background-image: url("../../assets/icons/icon-phone.svg");
    width: 40px;
  }
  &_pin {
    background-image: url("../../assets/icons/pin.svg");
    width: 22px;
  }
}
