.title {
    &_main {
        color: $color-dark-l;
    }
    &_pets {        
        max-width: 400px;
        text-align: center;
        margin: 0;
    }
    &_about {        
        max-width: 370px;
        margin: 0;
        /*перенести в парт3*/
        @include media-mobile {
            max-width: 29rem
        }  
    }
    &_help {
        max-width: 310px;
        text-align: center;
        margin: 0; 
    }
    &_donation {
        max-width: 300px;
        margin: 0; 
        @include media-mobile {
            max-width: 21rem;
          }  
    }
    &_footer {
        color: $color-light-xl;
        max-width: 280px;
        margin: 0; 
    }
    @include media-mobile {
        text-align: center;
    }
}
