.about-wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
  row-gap: 79px;
  column-gap: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  /*перенести в парт3*/
  @include media-tablet {
    flex-direction: column-reverse;
  }
  @include media-mobile {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    row-gap: 4.2rem;

  }
}
.about-image {
  @include media-mobile {
    width: 86.2%;
    /*перенести в парт3*/
    max-width: 30rem;
  }
}


.about__pets__img {
    display: block;
    width: 100%;
}

.about-content {
  max-width: 430px;
  @include media-mobile {
    padding: 0 1.5rem;
    /*перенести в парт3*/
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about__text {
  margin: 25px 0 0 0;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: $color-dark-xl;
  @include media-mobile {
    text-align: justify;
    &:nth-child(3) {
      margin-top: 2.2rem;
    }
    &:nth-child(2) {
      margin-top: 2.4rem;
    }
  }
}
