.help-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    @include media-mobile {
        padding: 4.2rem 1.5rem;
    }
}

.help-items {
    padding-top: 60px;
    padding-bottom: 100px;

    display: flex;

    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 55px;
    justify-content: center;
    @include media-tablet {
        column-gap: 60px;
      }
    @include media-mobile {
       padding-top: 4.2rem;
       padding-bottom: 0;
       gap: 3rem;
       /*перенести в парт3*/
       justify-content: space-between;
       max-width: 43rem;
    }
}