.hero {
  padding-top: 18rem;
  background: url("../../assets/images/png/noise_transparent@2x.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  //  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
  @include media-tablet {
    padding-top: 10.5rem;
  }
}

.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /*перенести в парт3*/  
  @include media-tablet {
    flex-direction: column;
  }
}

.description {
  margin-bottom: 12.5rem;
  @include media-tablet {
    margin-bottom: 10rem;
    > form {
      text-align: center
    };
  }
  @include media-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10.5rem;
  }
}

.heading {
  max-width: 310px;
  margin-top: 45px;
  color: $color-light-xl;
  @include media-mobile {
    text-align: center;
    max-width: 25.5rem;
    letter-spacing: 0.06em;
    margin-bottom: 0;
  }
}

.hero__text {
  margin: 42px 0;
  max-width: 460px;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: $color-dark-s;
  @include media-mobile {
  text-align: center;
  max-width: 300px;
  }
}

.start-puppy {
  margin-left: auto;
  @include media-tablet {
    width: 80.3%;
    /*перенести в парт3*/
    max-width: 69rem;
  }
  @include media-mobile {
    width: 86.59%;
    /*перенести в парт3*/
    max-width: 50rem;
  }
}

.start__puppy__img {
  display: block;
  width: 100%;
}