.pets {
    background-color: $color-light-l;
}

.pets-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 79px;
    padding-bottom: 10rem;
    @include media-mobile {
        padding-top: 4.2rem;
        padding-bottom: 4.2rem;        
      }
}


.slider {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
    .slider__button_right {
        margin-left: 53px;
        @include media-tablet {
            margin-left: 12px;            
        }
        @include media-mobile {
            margin-left: 4rem;
        }
    }
    .slider__button_left {
        margin-right: 53px;
        @include media-tablet {
            margin-right: 12px;            
        }
        @include media-mobile {
            margin-right: 4rem;
        }
    }
    @include media-mobile {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 4.2rem;
        padding-bottom: 4.2rem;
    }
      }

.slider-items-wrapper {
    flex-grow: 1;
    overflow: hidden;
    @include media-mobile { 
        order: -1;
    }
    
}

.slider-items {
    display: flex;
    column-gap: 90px;
    position: relative;
    left: 0;
    transition: 1s;
    @include media-mobile {
        width: 100%;
        justify-content: center;
        order: -1;
        padding-bottom: 2rem;
    }
}

