footer {
    min-height: 4rem;
    background-color: $color-light-l;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .logo {
        transition: 0.2s;
        &._git {
            filter: invert(1);
        }
        &:hover {
            filter: invert(32%) sepia(71%) saturate(0%) hue-rotate(297deg) brightness(88%) contrast(95%);
            transform: scale(1.05);
        }
    }
}
