html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
    letter-spacing: 0.06em;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 4.4rem;
    line-height: 130%;
    @include media-mobile {
        font-size: 2.5rem;
    }
}

h3 {
    font-style: normal;
    color: $color-dark-l;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    @include media-mobile {
        font-size: 2.5rem;
    }
}
