@import '../libs/nouislider.min';
.slider {
    display: flex;
    padding: 4rem 3rem 1rem 0;
    align-items: center;
}
.slider__line {
    width: 100%;
}
.slider__title {
    padding: 0 2rem;
    font-size: 2rem;
    color: $color-dark-l;
}
